<body>
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a href="/"><i class="bx bx-home-alt"></i></a>
      <a class="navbar-brand" href="/">
        <img src="/images/logos/logo-header.png" alt="logo-header">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/sign-in">entrar</a>
          <a class="nav-link" href="/sign-up">cadastrar</a>
        </div>
      </div>
    </div>
  </nav>
</header>