<body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a href="/feed"><i class="bx bx-home-alt"></i></a>
          <a class="navbar-brand" href="/feed">
            <img src="/images/logos/logo-header.png" alt="logo-header">
          </a>

          <form class="d-flex">
            <div class="search-box">
        <input type="search" placeholder="buscar" aria-label="Search">
        <a type="submit"><i class="bx bx-search"></i></a>
    </div>  
    </form>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="btn" id="credits">0 créditos</a>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="bell" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bx bxs-bell"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">10 mensagens não lidas</a></li>
                  <li><a class="dropdown-item" href="#">5 mensagens não lidas</a></li>
                  <li><a class="dropdown-item" href="#">1 solicitação de agendamento</a></li>
                </ul>
              </div>
              <div class="btn-group dropdown">
                <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/myloveandi.jpg" height="35" width="35" class="rounded-circle" alt="">
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/cei29">meu perfil</a></li>
                  <li><a class="dropdown-item" href="#">meus agendamentos</a></li>
                  <li><a class="dropdown-item" href="#">meus cursos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" id="logout" href="/">sair</a></li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        <div class="left">
          <a href="javascript:history.back()">
            <i class='bx bx-chevron-left'></i>
          </a>
          </div>
      </nav>
    </header>