<%- include('./components/head') %>
  <%- include('./components/mainheader') %>

  <main>
      <div class="mid-profile mt-4 mx-auto">
        <div class="user">
          <img class="rounded-circle" src="/images/myloveandi.jpg" alt="">
          <h1 class="title">Desenvolvedor Full Stack</h1>
          
          <h1 class="username">cei29</h1> 
        </div>   
        </div>
  </main>

</body>

<%- include('./components/footer') %>