<%- include('./components/head') %>
  <%- include('./components/mainheader') %>

  <main>
      <div class="mid-course">
          <div class="course-info">
          <h1 class="course-title">javascript</h1>
          <p class="course-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis perferendis veniam optio reprehenderit atque rem earum perspiciatis asperiores iusto! Voluptas fugit consectetur illum doloremque ex saepe voluptatem in asperiores neque?
          </p>
          <i class='bx bxs-like'></i>
        </div>
        <div class="course-img">
        <img src="/images/course.png" alt="">
    </div>
    <a class="schedule" href="#"><h1>agendar</h1></a>
          </div>
          <a href="#low-course"><i class='bx bx-chevron-down'></i></a>    
      </div>
  </main>
  <div class="low-course" id="low-course">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Comentário</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>