<%- include('./components/head') %>

<body>
    <div class="error-page position-absolute top-50 start-50 translate-middle">
        <h1>404</h1>
        <h3>Ops... parece que você se perdeu!</h3>
        <a class="btn" href="/feed">voltar para o inicio</a>
        <img src="/images/typing.gif" alt="">
    </div>
</body>