<%- include('./components/head') %>
  <%- include('./components/header') %>
  <style> .bx-home-alt{display: none;}
  .navbar-brand img{
    margin-left: 193px;
}
  </style>

    <main>
      <div class="mid-index">
        <img src="/images/index.svg" alt="" id="index-img">
        <div class="mid-index-text">
        <h2>aprenda e compartilhe os seus conhecimentos em tecnologias</h2>
        <h1>usando o tempo <br> como moeda</h1>
        <h3>CODE, SHARE & LEARN</h3>
      </div>
      </div>
      <div class="mid-bottom-index text-center">
        <h2>faça parte agora e receba créditos para começar</h2>
        <a class="btn" href="/sign-up" role="button">cadastrar</a>
      </div>
      
    </main>

    </body>

    <%- include('./components/footer') %>