<%- include('./components/head') %>
  <%- include('./components/mainheader') %>

  <style>.bx-chevron-left{ display: none; }</style>

  <main>
    <div class="mid-main">
      
    </div>
  </main>

  </body>