<%- include('./components/head') %>
  <%- include('./components/mainheader') %>

  <main>
      <div class="mid-user">
        <div class="user-info">
        <img class="rounded-circle" width="200px" src="/images/myloveandi.jpg" alt="">
        <h1 class="ms-3">cei29</h1>
        <div class="about ms-5 mt-3">
        <h1>sobre</h1>
        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo voluptates sit explicabo amet corporis, alias recusandae deserunt? Sequi voluptates natus voluptatem excepturi recusandae, nostrum praesentium molestias rerum aliquid, officiis ratione.</p>
        <a href=""><i class='bx bx-message-square-edit me-5'></i></a>
      </div>
    </div>
    <div class="user-courses mt-5">
      <h2>cursos lecionados</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>

        </main>