nav {
    width: 100%;
    height: 45px;
    background-color: var(--color-light-gray);
    padding: 0;
    position: absolute;
    inset: 0px 0px 0px 0px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    display: flex;
    align-items: center;
  }
  
  #IndexHeaderImg {
    margin-left: 244px;
    width: 170px;
    padding-top: 11px;
  }
  
  .nav-links {
    margin-left: 588px;
  }
  
  .nav-links a {
    color: var(--color-light-blue);
    font-weight: bold;
    font-size: 22px;
    margin-right: 52px;
  }
  
  .nav-links a:hover {
    color: var(--color-darker-blue);
  }