@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Colors */
  --color-light-blue: #6bbcff;
  --color-darker-blue: #3fa7fc;
  --color-darkest-blue: #00335E;
  --color-gray: #9BA2AA;
  --color-light-gray: #f2f2f2;
}

body {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

i {
  color: var(--color-light-blue);
}

i:hover {
  color: var(--color-darker-blue);
}

i, a, button, h1, h2, h3, div {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity .15s ease-in-out, transform .15s ease-in-out;
}